<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>sigeventos.ageprev.ms.gov.br/</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://ww2.deploy.ms.gov.br:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>sigeventos.ageprev.ms.gov.br</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>ADMINISTRACAO\imiranda</UserName>
    <_SavePWD>false</_SavePWD>
    <_TargetId>IISWebDeploy</_TargetId>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="SigEventosContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=S0676.MS;Initial Catalog=pms_eventos_desenvolvimento;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SigEventosContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Database.Entity.SigEventosModel.csdl|res://*/Database.Entity.SigEventosModel.ssdl|res://*/Database.Entity.SigEventosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=S0676.MS;initial catalog=pms_eventos_desenvolvimento;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SigEventosContext-Web.config Connection String" />
  </ItemGroup>
</Project>